.create-copy-button {
    padding: 5px !important;
    min-width: 0px !important;
    margin-left: auto !important ;
    width: 10px;
    height: 10px;
    border-radius: 50% !important;
    text-align: center;
}

.create-delete-button {
    padding: 5px !important;
    min-width: 0px !important;
    width: 10px;
    margin-left: 2px !important;
    height: 10px;
    border-radius: 50% !important;
    text-align: center;
}